<mat-list>
  <mat-list-item>Genre: {{ movie.genre }}</mat-list-item>
  <mat-list-item>Length: {{ movie.runtime }}</mat-list-item>
  <mat-list-item>PG Rating: {{ movie.rated }}</mat-list-item>
  <mat-list-item>Writers: {{ movie.writer }}</mat-list-item>
  <mat-list-item>Production: {{ movie.production }}</mat-list-item>
  <mat-list-item>Language: {{ movie.language }}</mat-list-item>
  <mat-list-item>Released: {{ movie.released }}</mat-list-item>
  <mat-list-item>Country: {{ movie.country }}</mat-list-item>
  <mat-list-item>DVD: {{ movie.dvd }}</mat-list-item>
  <mat-list-item>Awards won: {{ movie.awards }}</mat-list-item>
  <mat-list-item>Box office: {{ movie.box_office }}</mat-list-item>
</mat-list>