.container {
    display: flex;
    flex-direction: column;

    .controls {

    }

    .content {
        display: grid;
        grid-template-columns: [first] 400px auto;

        text-align: center;

        .image-container {

        }

        .detail-container {

        }
    }
}