<div *ngIf="!hidden">
  <h1>{{ movie.title }}</h1>
  <p>{{ movie.genre }}</p>
  <p>Starring: {{ movie.actors }}</p>
  <p>Directed by: {{ movie.director }}</p>

  <a *ngIf="hasWebsite()" href="{{movie.website}}">{{ movie.website }}</a>

  <button
    (click)="back()"
    mat-button
    color="accent">
    <mat-icon aria-hidden="false">arrow_back</mat-icon>
  </button>

  <app-rating-list
    [ratings]="movie.ratings"
    [imdbID]="movie.imdb_id">
  </app-rating-list>

  <mat-grid-list [cols]="3">
    <mat-grid-tile>
      <img src="{{movie.poster}}"/>
    </mat-grid-tile>
    <mat-grid-tile>
      <p>{{ movie.plot }}</p>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-list>
        <mat-list-item>Length: {{ movie.runtime }}</mat-list-item>
        <mat-list-item>PG Rating: {{ movie.rated }}</mat-list-item>
        <mat-list-item>Writers: {{ movie.writer }}</mat-list-item>
        <mat-list-item>Production: {{ movie.production }}</mat-list-item>
        <mat-list-item>Language: {{ movie.language }}</mat-list-item>
        <mat-list-item>Released: {{ movie.released }}</mat-list-item>
        <mat-list-item>Country: {{ movie.country }}</mat-list-item>
        <mat-list-item>DVD: {{ movie.dvd }}</mat-list-item>
        <mat-list-item>Awards won: {{ movie.awards }}</mat-list-item>
        <mat-list-item>Box office: {{ movie.box_office }}</mat-list-item>
      </mat-list>
    </mat-grid-tile>
  </mat-grid-list>

</div>