.mat-toolbar {
    display: grid;
    grid-template-columns: [first] 35% auto [last] 30%;

    .title {
        margin: auto;
        text-align: center;

        h1 a {
            text-decoration: none;
            color: #fff;
        }
    }

    .actions, .buttons {
        display: flex;
    }

    .actions {
        justify-content: flex-end;
        input {
            max-width: 200px;

            background: rgba(0, 0, 0, .10);
            border-radius: 20px;

            padding: 0 15px;

            color: #fff;
            font-size: 0.9em;

            &::placeholder {
                color: #fff;
            }
        }
    }

    .buttons {
        justify-content: flex-start;
        align-items: flex-start;
        & > * {
            margin: 10px;
        }
    }
}