.mat-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;


    & > div h1 a {
        text-decoration: none;
        color: #fff;
    }

    .actions {
        & > * {
            margin: 5px;
        }

        input {
            background: rgba(0, 0, 0, .10);
            border-radius: 20px;
            padding: 0px 15px;
            box-sizing: border-box;

            color: #fff;
            font-size: 0.9em;

            &::placeholder {
                color: #fff;
            }
        }
    }

    .buttons {
        & > * {
            margin: 10px;
        }
    }
}