.card-deck-container {
  background-color: #f5f5f5;

  padding: 50px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;


  .card-item {
    margin: 11px;
    max-width: 300px;
    min-width: 300px;
  }
}