.container {
    display: flex;
    justify-content: center;
    padding: 20px;

    form, button {
        display: inline;
        margin: 10px;
    }

    button {
        padding: 5px 25px;
    }
}